.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.imgCharacter {
    width: 200px;
    height: 300px;
    border-radius: 15px;
}
.coeur-beautiful {
    margin-top: 93.75px;
}

body,
.App,
html {
    background-color: #000;
}

h1,
h2,
h3,
p,
.btn {
    color: #F8F8FF;
    font-family: 'Bad Script', cursive;
}

.btn-danger {
    background: rgb(255, 53, 123);
    color: #ffffff;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background: rgb(135, 22, 18);
}

.btn-danger:active, .btn-danger.active {
    background: rgb(255, 53, 123);
    box-shadow: none;
}
